/* Dropdowns */

.dropdown {
  .dropdown-toggle {
    &:after {
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
      font: normal normal normal 24px/1 "Material Design Icons";
      content: "\F0140";  
      width: auto;
      height: auto;
      vertical-align: baseline;
      font-size: .75rem;
    }
  }
  .dropdown-menu {
    margin-top: .75rem;
    font-size: $default-font-size;
    box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);    
    .dropdown-item {
      font-size: 1rem;
      padding: .25rem 1.5rem;
      cursor: pointer;
      &:active {
        background: initial;
      }
    }
  }
}

.custom-dropdown{
  .dropdown{
    .dropdown-toggle:after{
      color: #fff;
    }
    .dropdown-toggle{
      .mdi{
        padding: 3px;
        border-radius: 5px;
      }
      .mdi:hover{
        cursor: pointer;
      }
    }
  }
  .show.dropdown{
    .dropdown-toggle{
      .mdi{
        background-color: #EFEFF0;
        padding: 3px;
        border-radius: 5px;
      }
    }
  }
}
.dropdown{
  .custom-dropdown-menu.dropdown-menu{
    padding: 10px !important;
    border-radius: 8px;
    .dropdown-item{
      font-size: 12px;
      font-family: 'Inter medium';
      padding: 0.8rem 4.5rem 0.8rem 1rem;
      line-height: 16px;
    }
  }
}